import 'package:equatable/equatable.dart';

class {{.Name}}Entity extends Equatable {
  final int id;
  final String title;
  final DateTime createdAt;

  const {{.Name}}Entity({
    required this.id,
    required this.title,
    required this.createdAt,
  });

  @override
}
