import 'package:equatable/equatable.dart';

@JsonSerializable(fieldRename: FieldRename.snake, explicitToJson: true)
class {{.Name}}Entity extends Equatable {
  final String id;
  
  factory {{.Name}}.fromJson(Map<String, dynamic> json) =>
      _${{.Name}}EntityFromJson(json);
  Map<String, dynamic> toJson() => _${{.Name}}ToJson(this);
}
