package {{.PackageName}}.data.repository

import {{.PackageName}}.domain.model.{{.Name}}Entity
import {{.PackageName}}.domain.repository.{{.Name}}Repository
import {{.PackageName}}.data.datasource.{{.Name}}RemoteDataSource
import kotlinx.coroutines.flow.Flow
import kotlinx.coroutines.flow.flow
import javax.inject.Inject

class {{.Name}}RepositoryImpl (
    basePath: String
) : BaseCrudRepositoryImpl<{{.Name}}Entity, String>(basePath), {{.Name}}Repository {

}