package {{.PackageName}}.data.repository

import {{.PackageName}}.domain.entity.{{.Name}}Entity
import {{.PackageName}}.domain.repository.{{.Name}}Repository

class {{.Name}}RepositoryImpl (
    basePath: String
) : BaseCrudRepositoryImpl<{{.Name}}Entity, String>(basePath), {{.Name}}Repository {

}