package {{.PackageName}}.domain.repository

import {{.PackageName}}.domain.model.{{.Name}}Entity
import kotlinx.coroutines.flow.Flow

interface {{.Name}}Repository : BaseCrudRepository<{{.Name}}Entity> 